/* Reset CSS*/
* {
	margin:0;
	padding:0;	
}
:focus{
	outline:0;
}
ul,li  {list-style: none;}
:link,:visited  { text-decoration: none;}
a img,:link img {border: none;}
address,i,em  {font-style: normal;}
h1,h2, h3, h4, h5 {
	margin:0;
}
.margin0 {
	margin:0 !important;
}
.padding0 {
	padding:0 !important;	
}
/* /Reset CSS*/
/* Start Left Menu CSS*/
nav.sidebar, .main{
	-webkit-transition: margin 200ms ease-out;
	-moz-transition: margin 200ms ease-out;
	-o-transition: margin 200ms ease-out;
	transition: margin 200ms ease-out;
}
.contact-subheading{border-bottom: 1px solid #ddd;
    color: #222;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 15px;
    margin-top: 0;
    padding: 3px 0 5px;}
.main{
	padding: 10px 10px 0 10px;
}
.add-margin-cqu-color-dark {
    color: #256ba7;
}
@media (min-width: 765px) {
.main{
	position: absolute;
	width: calc(100% - 40px);
	margin-left: 40px;
	float: right;
}
nav.sidebar:hover + .main{
	margin-left: 200px;
}
nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-left: 200px;
}
nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
	text-align: center;
	width: 100%;
	margin-left: 200px;
}
nav.sidebar a{
padding-right: 13px;
color:#666666;
}
nav.sidebar .navbar-nav > li:first-child{
	border-top: 1px #e5e5e5 solid;
}
nav.sidebar .navbar-nav > li{
	border-bottom: 1px #e5e5e5 solid;
}
nav.sidebar .navbar-nav .open .dropdown-menu {
	position: static;
	float: none;
	width: auto;
	margin-top: 0;
	background-color: transparent;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
	padding: 0 0px 0 0px;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	color: #777;
}
nav.sidebar{
	width: 170px;
	height: 100%;
	float: left;
	margin-bottom: 0px;
}
nav.sidebar li {
	width: 100%;
}
nav.sidebar:hover{
	margin-left: 0px;
}
.forAnimate{
	opacity: 0;
}
}
@media (min-width: 1330px) {
.main{
	width: calc(100% - 200px);
	margin-left: 200px;
}
nav.sidebar{
	margin-left: 0px;
	float: left;
}
nav.sidebar .forAnimate{
	opacity: 1;
}
}
nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
	color: #333333;
	background-color: transparent;
}
nav:hover .forAnimate{
	opacity: 1;
}
section{
	padding-left: 15px;
}
/* End Left Menu CSS*/


/*Selft CSS*/
.carousel-caption {
	width:100%;
	background:rgba(0,0,0,0.4);
	left:0%;
	right:0%;
	margin-bottom:0;
	bottom:0px;
	color: #eeeeee;
}
.carousel-indicators {
	bottom:0px;
}
.showopacity {
	padding-right:7px;
}
.paddingT75 {
	padding-top:100px;
}
.navbar-form {
	border:none;
	box-shadow:none;
}
.navbar-inverse {
  background-color: #256ba7 none repeat scroll 0 0;
  border-color: #6a0505;
  background-image: -webkit-linear-gradient(top, #256ba7 0%, #256ba7 100%);
  background-image:      -o-linear-gradient(top, #256ba7 0%, #256ba7 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#256ba7), to(#256ba7));
  background-image:         linear-gradient(to bottom, #256ba7 0%, #256ba7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a0002', endColorstr='#6a0505', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
}
.navbar-inverse .navbar-toggle {
  border-color: #6a0505;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #6a0505;
}
.navbar-brand {
	float: none;
	display: block;
	font-size: 26px;
	height: auto;
	line-height: 16px;
	font-weight: 500;
	padding: 0 0 0 15px;
	margin-top: 2px;
}
.navbar-fixed-top {
	border-width: 0;
}
.glyphicon {
	font-size: 14px;
	top: 0px;
}
.navbar {
	min-height: 70px;
}
nav > ul > li { background:none;}
nav ul li a:hover {background: #4b85b7 none repeat scroll 0 0;
    color: #fff;}
#nav-container {margin-top: 24px;}
.profileCon {
	float: left;
	width: 100%;
	background: #660505 url(http://localhost/alumni/assets/img/noise1.png) repeat;
	margin: -30px 0 0 0;
	padding: 20px;
	position: relative;
}
.profile-img {
	width: 200px;
	height: 200px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	border-radius:100px;
	border: solid 2px #fff;
}
.profileCon:after {
	content: '';
	position: absolute;
	bottom:-28px;
	left:120px;
	margin-left:-17px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border:16px solid transparent;
	border-top-color:#500c0c; /*660505*/
}
.profileTextCon {
	float: left;
	width: 100%;
	background: #f3f3f3;
	padding: 30px 20px 20px 20px;
}
.profDetail {
	color: #333;
	margin: 5px 0 30px 0;
}
.profileTextCon p {
	float: left;
	width: 100%;
}
.left-half {
	width: 50%;
	float: left;
	text-align: right;
}
.left-half2 {
	width: 30%;
	float: left;
	text-align: left;
}
.right-half {
	float: left;
	text-align: left;
}
.mini-profile-img-con {
	float: left;
	width: 100%;
}
.mini-profile-img {
	float: left;
	width: 100%;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	border: solid 1px #acacac;
	padding: 1px;
}
.mini-profDetail {
	text-align: left;
	font-size: 18px;
}
.mini-left-half {
	float: left;
	width: 165px;
	text-align: left;
}
.mini-profile-text-con {
	float: left;
}
.mini-profile-text-con p {
	float: left;
	width: 100%;
	margin-bottom: 2px;
	font-size: 12px;
}
.mini-profile-text-con h3 {
	float: left;
	width: 100%;
	margin-bottom: 12px;
}
.pad10 {
	float: left;
	width: 100%;
	padding: 10px 0;
}
.padb20 {
	padding-bottom: 20px;
}
.gallery-img {
	max-width: 100%;
	cursor: pointer;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border: solid 1px #666;
	padding: 2px;
}
.custom-text {
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	min-height: 34px;
}
.custom-area {
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	min-height: 184px;
}
.navbar .container {
	position: relative;
}
.navbar-brand .logo {
	position: absolute;
	left: 0;
	top: 0;
	display: inline;
	width: 70px;
	margin: 0px 8px 0 15px;
	-webkit-border-bottom-right-radius: 9px;
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomright: 9px;
	-moz-border-radius-bottomleft: 9px;
	border-bottom-right-radius: 9px;
	border-bottom-left-radius: 9px;
}
.main-heading { font-size:18px;}
.profile-img2 {
	float: left;
	width: 200px;
	height: 200px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	border-radius:100px;
	border: solid 2px #fff;
	margin-right: 20px;
}
.biography {
	padding: 30px 0 0 0px;
	color: #c0c0c0;
	clear: right;
	display: block;
}
.sign-bottom {
	float: left;
	margin: 120px;
}
.request-bottom {
	float: left;
	margin: 91px;
}
.coming_soon {
	float: left;
	width: 100%;
	text-align: center;
	font: normal 30px/200px 'Lobster';
	padding-bottom: 300px;
}
.alumni_message {
	text-align: justify;
	margin-top:10px;
}
.fpart-inner {background: #222 none repeat scroll 0 0;
    clear: both;
    color: #999;
    overflow: auto;}
.welcome {
	font-size: 16px;
	color: #e4b9b9;
	margin-bottom: 5px;
}
hr {
	margin-top: 10px;
}
.newsDate {
	font-style: italic;
	font-size: 12px;
	color: #666;
}
.news-heading {
	margin-top: 15px;
}
.profile-photo-block {
	float: left;
	width: 140px;
}
.profile-photo {
	float: left;
	width: 200px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border: solid 1px #666;
	padding: 2px;
	margin-right: 20px;
}
.hints {
    float: left;
    margin:0 0 0 0px;
}
footer {
    
}
#footer { padding:20px;}
#footer ul li a {
    display: block;
    font-size: 12px;
    line-height: 18px;
    padding: 5px 0;
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
}
#footer a {
    color: #999;
}
#footer a:hover {
    color: #fff;
}
#powered {
    border-top: 1px dotted #444444;
    font-size: 11px;
    line-height: 20px;
    margin-top: 15px;
    padding: 10px 0;
}
#powered {
    font-size: 11px;
    line-height: 20px;
}
.powered_text p {
    line-height: 18px;
    margin: 0;
}
#footer h3 {
    border-bottom: 1px dotted #444;
    color: #bbbbbb;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 0 0 7px;
    text-transform: uppercase;
}
.gallery_img {
	float: left;
	max-width: 600px;
	margin-right: 20px;
}
.photo-caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	background: rgba(0,0,0,0.5);
	color: #ffffff;
	text-align: center;
	font-size: 12px;
}
.position-relative {
	position: relative;
	margin-bottom: 20px;
}
.login_error {
	color: red;
	text-align: center;
}
.edit-heading {
	float: left;
	width: 100%;
	margin: 10px 0;
	border-bottom: solid 1px #ccc;
	line-height: 30px;
}
#divCheckPassword {
	color: red;
}
.cse-flag {
    position: absolute;
    right: 1px;
    top: 75px;
    width: 70px;
    height: 70px;
}
.per_check {
    font-weight:normal;
    vertical-align: bottom;
    margin-top: 30px;
}
.table > thead > tr > th {
	background: #ddd;
	border-left: 1px solid #ccc;
}
.table > tbody > tr > td {
	border-left: 1px solid #ccc;
}
.table > tbody {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.txt-center {
	text-align: center;
}
.block {
    display: block;
}
.form-control option {
    padding: 8px 5px;
}






/* Developer CSS*/
.infoLink {
    width:96px;
    position:fixed;
    right:0;
    bottom:0;
    color:#000000;
    text-decoration:none;
    opacity:0.1;
    filter:alpha(opacity=10); /* For IE8 and earlier */
    background:rgba(120, 005, 005, 0.8); border: 8px solid green; border-radius: 100%; width: 6px; height: 6px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.infoLink:hover {
    opacity:1;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}
.per_InfoWhole {
    position:fixed;
    right:0;
    bottom:0;
    display:none;
    z-index: 1000;
}
.per_infoBlock {
    float:left;
    width:267px;
    border:solid 1px #30b3f4;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin:3px;
    background:rgba(204, 204, 204, 0.3);
    padding:10px;
    position:relative;
}
.per_flowRow {
    float:left;
    width:100%;
}
.per_leftPart {
    float:left;
    width:60%;
    padding-top:12px;
}
.per_leftPart h3 {
    float:left;
    width:100%;
    font:bold 12px Arial, Helvetica, sans-serif;
    color:#000099;
    text-align:right;
    margin:0;
}
.per_leftPart p {
    float:left;
    width:100%;
    font:normal 10px Arial, Helvetica, sans-serif;
    color:#3ca202;
    text-align:right;
    margin:0;
}
.per_leftPart a {
    float:right;
    font:normal 10px Arial, Helvetica, sans-serif;
    color:#3ca202;
    text-align:right;
    margin:0;
    text-decoration:none;
}
.per_leftPart em {
    float:right;
    font:normal 10px Arial, Helvetica, sans-serif;
    color:#3ca202;
    text-align:right;
    margin:0;
}
.per_leftPart a:hover {
    color:#0000FF;
    text-decoration:underline;
}
.per_rightPart {
    float:right;
    width:40%;
    height:100%;
}
.per_rightPart img{
    float:right;
    width:90%;
    height:auto;
    margin-bottom:10px;
}
.per_profile {
    float:right;
    width:100%;
    height:96px;
    background:url(http://i1274.photobucket.com/albums/y432/nazmule27/Nazmul_self_zpskqvihuob.jpg) no-repeat right top;
    background-size:90%;
}
.cross {
    width:20px;
    height:20px;
}
#diamond-shield {
    position:absolute;
    top:-6px;
    right:-6px;
    width:1px;
    background:rgba(250,250,250,0.8);
    border:solid 2px #000000;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
    padding:10px;
    margin:0;
    -webkit-box-shadow: 0px 0px 5px 4px rgba(153,153,153,0.62);
    -moz-box-shadow: 0px 0px 5px 4px rgba(153,153,153,0.62);
    box-shadow: 0px 0px 5px 4px rgba(153,153,153,0.62);
}
#diamond-shield:before {
    padding:1px;
    display: block;
    content: '';
    position: absolute;
    border-bottom: 2px solid red;
    color:#FF0000
height: 10px;
    width: 10px;
    top:7px;
    left:5px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-box-shadow: 0px 0px 12px 1px rgba(22,17,17,0.66);
    -moz-box-shadow: 0px 0px 12px 1px rgba(22,17,17,0.66);
    box-shadow: 0px 0px 12px 1px rgba(22,17,17,0.66);
}
#diamond-shield:after {
    padding:1px;
    display: block;
    content: '';
    position: absolute;
    border-bottom: 2px solid red;
    color:#FF0000
height: 10px;
    width: 10px;
    top:7px;
    left:4px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-box-shadow: 0px 0px 12px 1px rgba(22,17,17,0.66);
    -moz-box-shadow: 0px 0px 12px 1px rgba(22,17,17,0.66);
    box-shadow: 0px 0px 12px 1px rgba(22,17,17,0.66);
}
/*End Developer CSS*/
.light-green {
	background: #dff0d8;
}
@media (min-width: 550px) {

}
@media (min-width: 768px) {
    nav.sidebar {
        width:200px;
    }
}
@media (min-width: 992px) {
    nav.sidebar {
        width: 200px;
    }
}
@media (min-width: 1200px) {
	nav.sidebar {
	width:168px;	
}
}

@media (max-width: 1200px) {

}
@media (max-width: 992px) {
	.profileCon {
		margin-top: 30px;
	}
	.left-half2 {
		width: 40%;
	}
    .navbar-brand .logo {
        width: 156px;
    }
    .paddingT75 {
        padding-top:20px;
    }
}
@media (max-width: 768px) {
	.left-half2 {
		width: 50%;
	}
    .cse-flag {
        display: none;
    }
    .navbar-brand .logo {
        width: 156px;
    }
}
@media (max-width: 550px) {
	.left-half2 {
		width: 50%;
	}
    .cse-flag {
        display: none;
    }
    .navbar-brand .logo {
        width: 156px;
    }
}


/* /Selft CSS*/
